@model IEnumerable<BLL.DTO.TicketDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Kõik lahendatud pöördumised</h1>



<table >
    <thead>
    <tr >
        <th scope="col">Tähtaeg</th>
        <th scope="col">Pöördumine</th>
        <th scope="col">Sisestatud</th>
        <th scope="col">Tehtud</th>
        <th scope="col">Kustuta</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td data-label="Pöördumine">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td data-label="Sisestatud">
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td data-label="Tähtaeg">
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td data-label="Tehtud">
                @Html.DisplayFor(modelItem => item.Resolved)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
            </td>
            
            
        </tr>
    }
    </tbody>
</table>