@model IEnumerable<BLL.DTO.TicketDTO>
@{
    ViewData["Title"] = "Home Page";
}

<div class="clock-container">
    <div id="clock">
        <h1 class="display-4" id="date-time"></h1>
    </div>
</div>

<div class="add-ticket">
    <a asp-controller="Home" asp-action="CreateTicket" class="btn btn-primary">Lisa uus pöördumine</a>
</div>


<table >
    <thead>
    <tr >
        <th scope="col">Tehtud</th>
        <th scope="col">Pöördumine</th>
        <th scope="col">Sisestatud</th>
        <th scope="col">Tähtaeg</th>
        <th scope="col">Muuda</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="@item.IsTooLate()">
            <td data-label="Tehtud" >
                <form asp-controller="Home" asp-action="MarkAsResolved" asp-route-id="@item.Id" method="post">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="@item.Resolved" onchange="this.form.submit()"/> 
                        </label>
                    </div>
                </form>
            </td>
            <td data-label="Pöördumine">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td data-label="Sisestatud">
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td data-label="Tähtaeg">
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td data-label="Muuda">
                <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.Id">Muuda</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<script src="~/js/clock.js"></script>

